/* @import url("photographer.css"); */


* {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    box-sizing: border-box; 
    text-decoration: none;  
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.logo{
     cursor: pointer; /* rajout  */
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}



.photographer_section article h2 a {
    color: #D3573C;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    cursor: pointer; /* rajout  */

}
.photographer_section figure {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 4px 12px 0px #00000040;
    background: #C4C4C4;
    cursor: pointer;
    transition: transform 0.3s ease; /* Transition pour une animation fluide */

}

.photographer_section article img:hover {
    transform: scale(1.1); /* Effet de grossissement */
}


.location{
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #901C1C;
    
}
.tagline{
   
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 2px;
     
}

.price{
   
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 3px;
    color:#757575;
 
}
